@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");

:root {
  --backgrond: #000;
  --text-color: #fff;
  --button: #8257e5;
  --border: #29292e;
  --border-menu-mobile: #a8a8b3;
  --text-color-menu-mobile: #e1e1e6;
  font-family: "Manrope", sans-serif;
}

html {
  background-color: #000000;
  width: 100%;
  height: 100%;
}

#blur1 {
  img {
    width: 321px;
    height: 321px;
  }
  bottom: 0px;
  left: 0px;
  position: fixed;
  pointer-events: none;
}

#blur2 {
  img {
    width: 321px;
    height: 321px;
  }
  top: -63px;
  right: 0px;
  position: fixed;
  pointer-events: none;
}
